/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* fine reset */

.upper-pattern{
    background-color: rgb(63, 139, 255);
    background-image: url('../img/pattern.png');
    height: 180px;
    position: relative;
}

.logo{
    height: 60%;
    margin-bottom: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.first-title{
    font-size: 100px;
}

.name{
    color: rgb(116, 116, 116);
}